.item {
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 2px 3px -3px #52525b;
  border-left: 5px solid;
}

.todo {
  background-color: #eef2ff;
  border-color: #4f46e5;
}
.doing {
  background-color: #ecfdf5;
  border-color: #047857;
}
.done {
  background-color: #f1f5f9;
  border-color: #1e293b;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-weight: 700;
  font-size: 1.6rem;
  color: #020617;
}
.date {
  font-size: 1.1rem;
  color: #64748b;
}
.status {
  font-size: 1.3rem;
  font-weight: 700;
  color: #4f46e5;
  padding: 0.5rem;
  border-radius: 5px;
  text-transform: uppercase;
}

.description {
  font-size: 1.3rem;
  color: #475569;
}

.footer {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.footerDetails {
  display: flex;
  gap: 0.5rem;
}
