.button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.indigo {
  background-color: #4f46e5;
  color: #f8fafc;
}

.red {
  background-color: #b91c1c;
  color: #f8fafc;
}

.sm {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
