.label {
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
}

.indigo {
  color: #4f46e5;
  border-color: #4f46e5;
}
.green {
  color: #047857;
  border-color: #047857;
}
.black {
  color: #1e293b;
  border-color: #1e293b;
}

.sm {
  padding: 0.3rem 0.6rem;
  font-size: 1.3rem;
}
.md {
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
}
.lg {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
